.header{
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    background-color: var(--main-darck-bg-c);
}
.header::before{
    content: '';
    width: 27rem;
    height: 33.5rem;
    background-color: var(--main-light-bg-c);
    position: absolute;
    left: -0.5em;
    bottom: 13rem;
}
.header::after{
    content: '';
    width: 30rem;
    height: 35rem;
    background-color: var(--main-light-bg-c);
    position: absolute;
    left: 65em;
    bottom: 1rem;
}
.headerContainer{
    margin-top: 60px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    z-index: 997;
}
.headerBar{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    bottom: -0.8rem;
    z-index: 998;
}
.headerTitel{
    width: 420px;
    font-size: 52px;
    line-height: 0.9;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.object-with-pseudo-elem{
    position: relative;
}
.bookingButton{
    width: 180px;
    margin-right: 120px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border: 3px solid #e4b041;
    background-color: transparent;
}
.bookingButton::before{
    content: '';
    width: 0.2rem;
    height: 8rem;
    background-color: #e4b041;
    position: absolute;
    left: -2em;
    bottom: -2.4rem;
    transform: rotate(90deg);
}
.leftScroll, 
.rightScroll {
    width: 95px;
    padding: 36px 0;
    background-color: transparent;

    cursor: pointer;
}
.sliderContainer{
    margin-bottom: 80px;
    background-color: var(--main-darck-bg-c);
    
    height: 400px;
}

