.header{
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    justify-content: center;
}
.headerConteiner{
    margin-top: 50px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerTitel{
    width: 420px;
    font-size: 52px;
    line-height: 0.9;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.bookingButton{
    width: 180px;
    margin-right: 120px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border: 3px solid #e4b041;
}
/* .scrollButton{
    width: 80px;
    border: 1px solid #e4b041;
} */
.leftScroll, 
.rightScroll {
    width: 80px;
    border: 1px solid #e4b041;
}