.slider{
    /* display: flex; */
    /* gap: 32px; */
    /* flex-direction: row; */

    height: 100%;
    width: 100%;
    overflow: hidden;
}
.allItemsConteiner{
    height: 100%;
    display: flex;

    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.sliderItem{
    /* width:auto;  */
    /* height:250px; */

    background-color: #dfd6c1;
    border: 2px solid #e4b041;
}
.sliderItem img,
.sliderItem video {
    width: 100%;

    /* height: 100vh; */
}