.slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.allItemsConteiner{
    height: 100%;
    display: flex;
    gap: 52px;
    transition: translate;
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

.sliderItem{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.sliderItem img {
    max-width: 540px;
}

.sliderItem video {
    height: 100%;
}