@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    
    color: white;
}
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-light-bg-c: #282828;
    --main-darck-bg-c: #181818;
}